/node_modules
docker-compose.dev.yaml
.env
/build
/Logs

# Mac
.dsstore
.DS_Store

# Terraform
variables.tf
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc